[user]
	name = Jonathan Thomas
    username = jonthoma
    email = jonthoma@umich.edu
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    co = checkout 
    c = commit
    br = branch
    a = add
    d = diff
    p = push

